<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bertha's Deluxe Chocolates</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
  <div class="clearing_class"></div>
  <div class="container text-center">
    <h1>SDSU BRAIN Project</h1>
    <p>Let's convert caffeine to software</p>
  </div>
</div>
<div class="about_data">
  <h1>ABOUT US</h1>
  <p>This project aims to help in medical field</p>

</div>
<footer>
  <a href="https://www.linkedin.com/in/yogesh-kohli-51795682/" class="footer">@YogeshKohliProfile</a>
</footer>
<div class="clearing_class"></div>
</body>
</html>
