/* Pen-specific styles */
* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
}

section {
  color: black;
  text-align: center;
}

div {
  height: 85%;
}

article {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #F5F5F5;
  position: absolute;
  left: 0px;
  width: 25%;
  overflow:auto;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 75%;
}
