<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bertha's Deluxe Chocolates</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div >
  <div class="clearing_class"></div>
  <div class="container text-center">
    <h1>SDSU BRAIN Project</h1>
    <p>Let's convert caffeine to software</p>
  </div>
</div>
<div class="contact_data">
  <h1>CONTACT US</h1>
  <p>You can contact us anytime.</p>
  <h3>Kindly feel free to write to us at:</h3>
  <h5>Email: xxxxxxxx@xyz.com</h5>
  <br />
  <p>SAN DIEGO STATE UNIVERSITY<br />
    5500 Campanile Dr, San Diego, CA 92182<br />
    Phone: XXX-XXXX-XXXX<br />
    E-mail: support@xxxxxx.com<br />
  </p>
</div>
<footer>
  <a href="https://www.linkedin.com/in/yogesh-kohli-51795682/" class="footer">@YogeshKohliProfile</a>
</footer>
<div class="clearing_class"></div>
</body>
</html>
